.container {
    width: 100%;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.heading {
    font-size: 2.5rem;
    color: black;
    margin-bottom: 3rem;
}

.heading span {
    color: #0070f3;
}

.alumniCards {
    display: flex;
    flex-direction: column; /* Stack cards vertically */
    align-items: center; /* Center align cards horizontally */
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}

.alumniCard {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px; /* Space between cards */
    width: 100%;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.profileContainer {
    display: flex;
    align-items: center;
    width: 100%;
}

.alumniImage {
    width: 120px;
    height: 120px;
    border-radius: 12px;
    object-fit: cover;
    margin-right: 20px; /* Space between image and text */
}

.textContent {
    text-align: left;
    width: 100%;
}

.alumniName {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}

.testimonial {
    font-size: 1rem;
    color: #555;
}
