@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

.custom-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Darker overlay for a more dramatic effect */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.custom-modal {
    width: 100%;
    max-width: 450px;
    background: #FFF;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    animation: custom-fadeIn 0.4s ease-in-out;
    font-family: 'Poppins', sans-serif;
}

.custom-modal-header {
    padding: 20px;
    background: #0070f3; /* Brighter blue for a modern look */
    color: #FFF;
    display: flex;
    align-items: center; /* Center align items vertically */
    justify-content: center; /* Center align items horizontally */
    position: relative; /* Position relative for close button positioning */
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.custom-modal-header header {
    font-size: 26px;
    font-weight: 500;
    margin: 0; /* Remove default margin */
}

.custom-modal-close {
    position: absolute;
    right: 20px; /* Adjust as needed */
    top: 20px; /* Align with the header padding */
    font-size: 28px;
    cursor: pointer;
    color: #FFF;
    transition: color 0.3s;
}

.custom-modal-close:hover {
    color: #FFDDDD; /* Subtle color change on hover */
}

.custom-modal-content {
    padding: 20px;
}

.custom-field {
    margin-bottom: 20px;
}

.custom-input-field input,
.custom-button-field button {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #E0E0E0; /* Lighter border for a cleaner look */
    font-size: 16px;
}

.custom-input-field input {
    background-color: #F9F9F9; /* Light background for inputs */
}

.custom-button-field button {
    background-color: #0070f3;
    color: #FFF;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-size: 18px; /* Slightly larger text */
}

.custom-button-field button:hover {
    background-color: #005bb5;
    transform: scale(1.02); /* Slightly enlarge the button on hover */
}

.custom-eye-icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    font-size: 18px;
    cursor: pointer;
    color: #B0B0B0;
    transition: color 0.3s;
}

.custom-eye-icon:hover {
    color: #333;
}

.custom-form-link {
    text-align: center;
    margin-top: 20px;
}

.custom-form-link a {
    color: #0070f3;
    text-decoration: none;
    font-weight: 500; /* Slightly bolder text */
}

.custom-form-link a:hover {
    text-decoration: underline;
}

@keyframes custom-fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
