.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background-color: #fff;
  padding: 1.1rem;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  width: 20vw;
  position: relative;
  text-align: center; /* Center align the text and icons */
}

.closeButton {
  background: none;
  border: none;
  cursor: pointer;
  color: #000;
}

.iconContainer {
  display: flex;
  justify-content: space-around;
  margin: 20px 0; /* Adjust margin for better spacing */
}

.iconWrapper {
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease; /* Smooth transition effect */
  padding: 10px;
  border-radius: 10px;
}

.iconWrapper:hover {
  transform: scale(1.1); /* Slightly enlarge the icon on hover */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Add a shadow for a 3D effect */
  background-color: #f0f0f0; /* Light background color on hover */
}

.iconWrapper p {
  margin-top: 10px;
  font-size: 14px;
  color: #333;
  font-weight: bold; /* Make the text bold */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Vertically align items */
}
